body {
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    flex-wrap:  wrap;
    font-family:  Poppins, Arial, sans-serif;
    justify-content: space-around;
}

/* Header/Logo Title */
.menu_nav {
    overflow: hidden;
}

.menu_nav a {
    float: left;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.menu_nav a:hover {
    color: #0098B5;
    transition: all .3s;
}

.menu_nav a.active {
    color: #959BA9;
}
.image-logo{
    float: right;
    color: black;
    text-align: left;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* End of header menu style */
table, th, td {
    border-bottom: 2px solid #ddd;

}
tr:hover {background-color: #00809D; color: white;}
.button {

    border: none;

    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
    background-color: #E73053;

}



.button:hover {
    background-color: #00809D;
    color: white;
}



.options {
    grid-column: 1/1;
    position: static;
    font-size: 15px;
    background-color: #EAECEE;
    border: none;
    border-radius: 15px;
    vertical-align: middle;
    padding: 10px;

    justify-content: space-around;
    margin: auto;
    width: 80%;


}
.optionss {
    grid-column: 1/1;
    position: static;
    vertical-align: middle;
    border: none;
    border-radius: 15px;
    background-color: #EAECEE;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    padding: 10px;



}
.info {
    grid-column: 1/1;
    position: static;
    background-color: #EAECEE;
    border: none;
    vertical-align: middle;
    margin: auto;
    justify-content: space-around;
    width: 80%;
    border-radius: 15px;
    padding: 10px;
}
.titles{
    margin: auto;
}

.button3 {
    background-color: #E73053;
    color: black;
    width:45vw;
    margin: auto auto 85px ;
}



h1 {
    display: block;
    font-size: 2em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
#title{

    padding-right: 30px;

}

.car{
    width: 100%;
    padding: 1px;
    margin: auto;
}
p{
    font-size: 18px;
    font-weight: 550;
}

input[type = text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type = number]{
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type = submit]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table{
    padding: 20px;
    position: static;
    vertical-align: middle;
    margin: auto;
    justify-content: space-around;
    width: 80%;
}

@media (max-width: 660px) {

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }


    .image-logo {
        visibility: hidden;
        position: absolute;
    }
}