@import url(https://fonts.googleapis.com/css?family=Poppins);
* {
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

/* Header/Logo Title */
.menu_nav {
  overflow: hidden;

}

.menu_nav a {
  float: left;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.menu_nav a:hover {
  color: #0098B5;
  transition: all .3s;
}

.menu_nav a.active {
  color: #959BA9;
}

.image-logo {
  float: right;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* End of header menu style */

.product-detail {
  width: 60vw;
  height: 100vh;
  float: right;
}

.Lease h1,
.About h1,
.Contact h1,
.Login {
  display: inline;
}

.menu-bar {
  width: 100vw;
  height: 100vh;
}

.imagery {
  float:right;
}

.imagery img{
  width: 500px;
  border-radius: 25px;
}

/* Details about car aligned to the right */
.detail{
  overflow:hidden;
  position: relative;
  float:bottom;
}



.detail_desc {
  color: #81848A;
  height:10px;
  font-family: Poppins, sans-serif;
  font-size:25px;
  min-height:34px;
  display: inline-block;
  padding: 0 30px;
}

#powertrain_text {
  display: block;
}

#powertrain_text {
  display: block;
}

#powertrain {
  margin: auto;
  display: inline;
}

#bodytype_text {
  display: inline-block;
}

#trim_level_text {
  display: inline-block;
}

#trim_level {
  display: inline-block;
}

hr.line {
  border-top: 1px solid black;

}

#bodytype{
  display: block;
}

.option {
  margin-right: 300px;
  color: #000000;
  font-family: Poppins, sans-serif;
  font-size:25px;
}

.btn_grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.btn_grid .btn_wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

/* CHECKBOXES */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:disabled ~ .checkmark {
  background-color: #ccc;
}

.container input:disabled ~ .text{
  color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #E73053;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer {
  background: #D1D4DC;
  color: #3D424F;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  /*     border: 1px solid red; */
  height: 350px;
  display: flex;

}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;

  /*     border:  1px solid white; */
}

.footer .footer-bottom {
  font-size: 0.857em;
  background: #959BA9;
  color: #3D424F;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 15px;
}

.footer .footer-content h1,
.footer .footer-content h1 {
  color: #E73053;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 0.857em;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  color: #00809D;
  border: 1px solid gray;
  width: 32px;
  height: 32px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 0.857em;;
  border-radius: 50%;
  transition: all .3s;
}


.footer .footer-content .links ul a {
  color: #00809D;
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: all .3s;
}

.footer .footer-content .links ul a:hover {
  color: #0098B5;
  margin-left: 15px;
  transition: all .3s;
}

.footer .footer-content .contact-form .contact-input {
  background: white;
  color: black;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: .7rem 1.2rem;
}

#abouttext {
  font-size: .8em;
}

#email-input {
  color:black;
  font-weight:500;
  font-size: 13px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border:2px solid #E73053;
  transition: all 0.3s;
  padding: 5px;
  margin-bottom: 15px;
  width:80%;
  box-sizing: border-box;
  outline:0;
}

#feedback-input {
  color:black;
  font-weight:500;
  font-size: 13px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border:2px solid #E73053;
  transition: all 0.3s;
  padding: 5px;
  margin-bottom: 15px;
  width:80%;
  box-sizing: border-box;
  outline:0;
}

.btn-big{
  width: 80%;
  background:#E73053;
  border-radius:50px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:13px;
  padding-top:10px;
  /*   padding-bottom:10px; */
  transition: all 0.3s;
  /*   margin-top:-4px; */
  font-weight:700;
}


@media (max-width: 660px) {

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .image-logo {
    visibility: hidden;
    position: absolute;
  }
}
