body {
	margin: 0;
}

.e41_8 {
	overflow:hidden;
}
.e41_8 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e50_8 { 
	color:rgba(126.00000008940697, 131.00000739097595, 143.00000667572021, 1);
	width:140px;
	height:66px;
	position:absolute;
	left:1056px;
	top:634px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e52_103 { 
	color:rgba(126.00000008940697, 131.00000739097595, 143.00000667572021, 1);
	width:120px;
	height:66px;
	position:absolute;
	left:1210px;
	top:634px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e52_105 { 
	color:rgba(126.00000008940697, 131.00000739097595, 143.00000667572021, 1);
	width:768px;
	height:120px;
	position:absolute;
	left:1056px;
	top:759px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e52_118 { 
	color:rgba(126.00000008940697, 131.00000739097595, 143.00000667572021, 1);
	width:304px;
	height:60px;
	position:absolute;
	left:1056px;
	top:980px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e52_119 { 
	color:rgba(126.00000008940697, 131.00000739097595, 143.00000667572021, 1);
	width:304px;
	height:60px;
	position:absolute;
	left:1545px;
	top:980px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e52_109 { 
	color:rgba(126.00000008940697, 131.00000739097595, 143.00000667572021, 1);
	width:768px;
	height:60px;
	position:absolute;
	left:1056px;
	top:699px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e52_104 { 
	color:rgba(126.00000008940697, 131.00000739097595, 143.00000667572021, 1);
	width:120px;
	height:66px;
	position:absolute;
	left:1742px;
	top:634px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e52_14 { 
	color:rgba(0, 0, 0, 1);
	width:270px;
	height:66px;
	position:absolute;
	left:51px;
	top:160px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e46_45 {
	border:0px solid rgba(0, 0, 0, 1);
}
.e46_45 { 
	width:802px;
	height:451px;
	position:absolute;
	left:1060px;
	top:160px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	background-image:url(images/cars/2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e41_33 { 
	width:311px;
	height:116px;
	position:absolute;
	left:51px;
	top:39px;
}
.e41_34 { 
	color:rgba(0, 0, 0, 1);
	width:162px;
	height:116px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e41_35 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:107px;
	position:absolute;
	left:162px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e41_36 { 
	width:396px;
	height:107px;
	position:absolute;
	left:1557px;
	top:39px;
}
.e41_37 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e41_38 { 
	color:rgba(0, 0, 0, 1);
	width:198px;
	height:107px;
	position:absolute;
	left:198px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e52_13 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e52_13 { 
	width:940px;
	height:0px;
	position:absolute;
	left:50px;
	top:230px;
}
.e52_15 { 
	color:rgba(0, 0, 0, 1);
	width:270px;
	height:66px;
	position:absolute;
	left:51px;
	top:541px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e52_16 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e52_16 { 
	width:940px;
	height:0px;
	position:absolute;
	left:50px;
	top:611px;
}
.e52_110 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e52_110 { 
	width:794px;
	height:0px;
	position:absolute;
	left:1056px;
	top:756px;
}
.e52_111 { 
	color:rgba(126.00000008940697, 131.00000739097595, 143.00000667572021, 1);
	width:210px;
	height:60px;
	position:absolute;
	left:1056px;
	top:920px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e52_116 { 
	color:rgba(126.00000008940697, 131.00000739097595, 143.00000667572021, 1);
	width:210px;
	height:60px;
	position:absolute;
	left:1545px;
	top:920px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e52_112 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e52_112 { 
	width:304px;
	height:0px;
	position:absolute;
	left:1056px;
	top:980px;
}
.e52_117 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e52_117 { 
	width:304px;
	height:0px;
	position:absolute;
	left:1546px;
	top:980px;
}
.e52_26 { 
	width:941px;
	height:45px;
	position:absolute;
	left:50px;
	top:270px;
}
.e52_55 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:45px;
	position:absolute;
	left:62px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_58 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:45px;
	position:absolute;
	left:833px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_28 { 
	background-color:rgba(209.00000274181366, 212.00000256299973, 220.00000208616257, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:5px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_17 { 
	background-color:rgba(0, 0, 0, 1);
	width:26.66666603088379px;
	height:26.66666603088379px;
	position:absolute;
	left:6.666666507720947px;
	top:11.666666030883789px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_60 { 
	width:941px;
	height:45px;
	position:absolute;
	left:51px;
	top:355px;
}
.e52_61 { 
	color:rgba(234.00000125169754, 236.00000113248825, 238.00000101327896, 1);
	width:98px;
	height:45px;
	position:absolute;
	left:62px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_62 { 
	color:rgba(234.00000125169754, 236.00000113248825, 238.00000101327896, 1);
	width:108px;
	height:45px;
	position:absolute;
	left:833px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_63 { 
	background-color:rgba(209.00000274181366, 212.00000256299973, 220.00000208616257, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:5px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_64 { 
	background-color:rgba(234.00000125169754, 236.00000113248825, 238.00000101327896, 1);
	width:26.66666603088379px;
	height:26.66666603088379px;
	position:absolute;
	left:6.666666507720947px;
	top:11.666666030883789px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_65 { 
	width:941px;
	height:45px;
	position:absolute;
	left:51px;
	top:440px;
}
.e52_66 { 
	color:rgba(234.00000125169754, 236.00000113248825, 238.00000101327896, 1);
	width:98px;
	height:45px;
	position:absolute;
	left:62px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_67 { 
	color:rgba(234.00000125169754, 236.00000113248825, 238.00000101327896, 1);
	width:108px;
	height:45px;
	position:absolute;
	left:833px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_68 { 
	background-color:rgba(209.00000274181366, 212.00000256299973, 220.00000208616257, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:5px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_69 { 
	background-color:rgba(234.00000125169754, 236.00000113248825, 238.00000101327896, 1);
	width:26.66666603088379px;
	height:26.66666603088379px;
	position:absolute;
	left:6.666666507720947px;
	top:11.666666030883789px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_85 { 
	width:941px;
	height:45px;
	position:absolute;
	left:48px;
	top:651px;
}
.e52_86 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:45px;
	position:absolute;
	left:62px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_87 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:45px;
	position:absolute;
	left:833px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_88 { 
	background-color:rgba(209.00000274181366, 212.00000256299973, 220.00000208616257, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:5px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_89 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:26.66666603088379px;
	height:26.66666603088379px;
	position:absolute;
	left:6.666666507720947px;
	top:11.666666030883789px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_90 { 
	width:941px;
	height:45px;
	position:absolute;
	left:49px;
	top:736px;
}
.e52_91 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:45px;
	position:absolute;
	left:62px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_92 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:45px;
	position:absolute;
	left:833px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_93 { 
	background-color:rgba(209.00000274181366, 212.00000256299973, 220.00000208616257, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:5px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_94 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:26.66666603088379px;
	height:26.66666603088379px;
	position:absolute;
	left:6.666666507720947px;
	top:11.666666030883789px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_95 { 
	width:941px;
	height:45px;
	position:absolute;
	left:49px;
	top:821px;
}
.e52_96 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:45px;
	position:absolute;
	left:62px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_97 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:45px;
	position:absolute;
	left:833px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e52_98 { 
	background-color:rgba(209.00000274181366, 212.00000256299973, 220.00000208616257, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:5px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e52_99 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:26.66666603088379px;
	height:26.66666603088379px;
	position:absolute;
	left:6.666666507720947px;
	top:11.666666030883789px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
