@import url(https://fonts.googleapis.com/css?family=Poppins);
*{
  margins:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html, body {
  height: 100%
}



/* Header/Logo Title */
.menu_nav {
  overflow: hidden;

}

.menu_nav a {
  float: left;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.menu_nav a:hover {
  color: #0098B5;
  transition: all .3s;
}

.menu_nav a.active {
  color: #959BA9;
}

.image-logo {
  max-width: 60%;
  float: right;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* End of header menu style */

/* */

/* Remove margin between headers and descriptions */
h3 {
  margin: 0;
}

/* Remove margin between headers and descriptions */
h3+p {
  margin-top: 0;
}

/* Wrapper that can be turned on to center the grid */
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 40px auto;
  background-color: #fff;
}

/* Grid property for the elements */
.home-hero {
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: minmax(150px, auto);
}

/* Style for text within the grid and image formatting (resize) */
.home-hero > * {
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  color: #fff;
}

/* First box formatting and imagery  */
.feature {
  background: rgb(231,48,83);
  background: linear-gradient(0deg, rgba(231,48,83,0) 0%, rgba(231,48,83,0.40379901960784315) 63%, rgba(60,52,120,0.7371323529411764) 100%),
  url(https://cdn.pixabay.com/photo/2020/08/18/22/25/golf-4-5499528_960_720.jpg);
  background-position: bottom left;
  color: #fff;
}

.photos {
  background: rgb(231,48,83);
  background: linear-gradient(180deg, rgba(231,48,83,0) 0%, rgba(231,48,83,0.40379901960784315) 63%, rgba(60,52,120,0.7371323529411764) 100%),
  url(https://cdn.pixabay.com/photo/2018/03/18/08/33/vip-area-3236038_960_720.jpg);
  color: #fff;
}

.news {
  background: rgb(231,48,83);
}

.special {
  background: rgb(231,48,83);
  background: linear-gradient(180deg, rgba(231,48,83,0) 0%, rgba(231,48,83,0.40379901960784315) 63%, rgba(60,52,120,0.7371323529411764) 100%),
  url(https://cdn.pixabay.com/photo/2017/11/07/02/01/nissan-240z-2925432_960_720.jpg);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.special h3,
.amazing h3{
  margin-top: auto;
}




.amazing {
  background: rgb(231,48,83);
  background: linear-gradient(180deg, rgba(231,48,83,0) 0%, rgba(231,48,83,0.40379901960784315) 63%, rgba(60,52,120,0.7371323529411764) 100%),
  url(https://cdn.pixabay.com/photo/2018/06/21/20/23/light-bulbs-3489395_960_720.jpg);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.cta {
  background-color: #3C3478;
  color: #fff;
  display: flex;
  flex-direction: column;
}

a.spam-button:link {
  border: 1px solid #ccc;
  border-radius: 20px;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  display: block;
  padding: 5px;
  margin: auto auto 20px;
  width: 90%;
  text-align: center;
}

.footer {
  background: #D1D4DC;
  color: #3D424F;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  /*     border: 1px solid red; */
  height: 350px;
  display: flex;

}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;

  /*     border:  1px solid white; */
}

.footer .footer-bottom {
  font-size: 0.857em;
  background: #959BA9;
  color: #3D424F;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 15px;
}

.footer .footer-content h1,
.footer .footer-content h1 {
  color: #E73053;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 0.857em;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  color: #00809D;
  border: 1px solid gray;
  width: 32px;
  height: 32px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 0.857em;;
  border-radius: 50%;
  transition: all .3s;
}


.footer .footer-content .about .socials a:hover {
  border: 1px solid white;
  color: #0098B5;
  transition: all .3s;
}

.footer .footer-content .links ul a {
  color: #00809D;
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: all .3s;
}

.footer .footer-content .links ul a:hover {
  color: #0098B5;
  margin-left: 15px;
  transition: all .3s;
}

.footer .footer-content .contact-form .contact-input {
  background: white;
  color: black;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: .7rem 1.2rem;
}

#abouttext {
  font-size: .8em;
}

#email-input {
  color:black;
  font-weight:500;
  font-size: 13px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border:2px solid #E73053;
  transition: all 0.3s;
  padding: 5px;
  margin-bottom: 15px;
  width:80%;
  box-sizing: border-box;
  outline:0;
}

#feedback-input {
  color:black;
  font-weight:500;
  font-size: 13px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border:2px solid #E73053;
  transition: all 0.3s;
  padding: 5px;
  margin-bottom: 15px;
  width:80%;
  box-sizing: border-box;
  outline:0;
}

.btn-big{
  width: 80%;
  background:#E73053;
  border-radius:50px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:13px;
  padding-top:10px;
  /*   padding-bottom:10px; */
  transition: all 0.3s;
  /*   margin-top:-4px; */
  font-weight:700;
}


@media (min-width: 500px) {
  .home-hero {
    grid-template-columns: 1fr 1fr;
  }

  .feature {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .special {
    grid-column: 1;
    grid-row: 3 / 6;
  }
  .amazing {
    grid-column: 1;
    grid-row: 6;
  }
  .cta {
    grid-column: 2;
    grid-row: 5 / 7;
  }

  .product-list{
    padding-bottom: 5em;
  }

  .product-list .card {
    background-color: #EAECEE;
    /*   border-radius: 20px; */
    padding: 1em;
    /*   box-shadow: 0px 5px 5px #7E838F; */
    text-align: center;
    /*   max-width: 25%; */
  }

  .card .title{
    font-size: 18px;
    font-weight: bold;
  }

  .card img {
    max-width: 100%;
    border-radius: 15px;
  }

  .card .text {
    text-align:left;
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 12px;
  }

  .card .lease-button {
    background-color: #F4F4F4;
    border:none;
    padding:1em;
    border-radius: 15px;
    font-weight: bold;
  }

  .card .lease-button:hover {
    border: 1px solid white;
    color: #0098B5;
    transition: all .3s;
  }

  .product-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }

  .product-list {
    text-align:center;
  }

  hr.products-line {
    display: block;
    margin: auto;
    width: 40%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
  }



}

@media (min-width: 850px) {
  .home-hero {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(150px, auto) minmax(150px, auto);
    grid-auto-rows: minmax(100px, auto);
  }

  .feature {
    grid-column: 1;
    grid-row: 1 / 6;
  }

  .special {
    grid-column: 2;
    grid-row: 1 / 4;
  }

  .amazing {
    grid-column: 2;
    grid-row: 4 / 6;
  }

  .cta {
    grid-column: 3;
    grid-row: 3 / 6;
  }

  .wrapper {
    min-height: 80%;
  }

  .product-list{
    padding-bottom: 5em;
  }

  .product-list .card {
    background-color: #EAECEE;
    /*   border-radius: 20px; */
    padding: 1em;
    /*   box-shadow: 0px 5px 5px #7E838F; */
    text-align: center;
    /*   max-width: 25%; */
  }

  .card .title{
    font-size: 18px;
    font-weight: bold;
  }

  .card img {
    max-width: 100%;
    border-radius: 15px;
  }

  .card .text {
    text-align:left;
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 12px;
  }

  .card .lease-button {
    background-color: #F4F4F4;
    border:none;
    padding:1em;
    border-radius: 15px;
    font-weight: bold;
  }

  .card .lease-button:hover {
    border: 1px solid white;
    color: #0098B5;
    transition: all .3s;
  }

  .product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }

  .product-list {
    text-align:center;
  }

  hr.products-line {
    display: block;
    margin: auto;
    width: 40%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
  }

  .footer .footer-bottom {
    font-size: 1em;
  }

  .footer .footer-content .about .contact span {
    font-size: 1.1em;
  }

  .footer .footer-content .about .socials a {
    width: 45px;
    height: 41px;
    font-size: 1.3em;
  }

  .footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: #0098B5;
    transition: all .3s;
  }
  #abouttext {
      font-size: 1em;
  }

}

@media (max-width: 500px) {
  .product-list{
    padding-bottom: 5em;
  }

  .product-list .card {
    background-color: #EAECEE;
    /*   border-radius: 20px; */
    padding: 1em;
    /*   box-shadow: 0px 5px 5px #7E838F; */
    text-align: center;
    /*   max-width: 25%; */
  }

  .card .title{
    font-size: 18px;
    font-weight: bold;
  }

  .card img {
    max-width: 100%;
    border-radius: 15px;
  }

  .card .text {
    text-align:left;
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 12px;
  }

  .card .lease-button {
    background-color: #F4F4F4;
    border:none;
    padding:1em;
    border-radius: 15px;
    font-weight: bold;
  }

  .card .lease-button:hover {
    border: 1px solid white;
    color: #0098B5;
    transition: all .3s;
  }

  .product-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }

  .product-list {
    text-align:center;
  }

  hr.products-line {
    display: block;
    margin: auto;
    width: 40%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
  }

  .footer {
    background: #D1D4DC;
    color: #3D424F;
    height: 400px;
    position: relative;
  }

  .footer .footer-content .links  {
    flex: 1;
    padding: 25px;
    display: none;
    /*     border:  1px solid white; */
  }

  .footer .footer-bottom {
    font-size: 0.7em;
  }

  .footer .footer-content .links ul a {
    color: #00809D;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
  }

  #abouttext {
    font-size: 0.6em;
  }

  #about-background{
    visibility: hidden;
  }

}

@media (max-width: 660px) {

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .image-logo {
    visibility: hidden;
    position: absolute;
  }
}