body {
    background: #f6f5f7;
    display: flex;
    /*justify-content: left;*/
    /*align-items: center;*/
    flex-direction: column;
    flex-wrap:  wrap;
    font-family:  poppins;


}
/* Header/Logo Title */
.menu_nav {
    overflow: hidden;
}

.menu_nav a {
    float: left;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.menu_nav a:hover {
    color: #0098B5;
}

.menu_nav a.active {
    color: #959BA9;
}
.image-logo{
    float: right;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}